body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

aside {
    flex: 1;
    background-color: #ffb6c1;
    color: #FFF;
    padding: 10px;
    height: 100vh; /* Make sidebar full height */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px; /* Add space between menu items */
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    flex: 4;
    padding: 20px;
    overflow-y: auto; /* Add scroll to main content if necessary */
}

footer {
    background-color: #ffb6c1;
    color: #FFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

